<html>
  <head>
    <title>Chat Test</title>
    <script src="jquery-1.7.min.js"></script>
    <script src="jquery.gracefulWebSocket.js"></script>
    <script>
  
    function setupWebSocket(host) {
      var ws = new WebSocket(host);
      //var ws = $.gracefulWebSocket("ws://127.0.0.1:8080/");
  
      // listen for messages from server using standard syntax
      ws.onmessage = function(event) {     
         $("#messages").append("<p>"+event.data+"</p>");
      };
      
      ws.onerror = function(event) {
        $("#messages").append("<p>Error: "+event.timeStamp+"</p>");
      };
      
      $("#send").click(function() { ws.send( $("#msg").val() ); return false; } );
    }
   
    $(function() {
      setupWebSocket("ws://<%=WS_HOST%>/");
    });
      
    </script>
  </head>
  <body>
        <form>
          <input type="text" id="msg"></input>
          <button id="send">Send</button>
        </form>
	<div id="messages">
        </div>
  </body>
</html>
